.account {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: white;
    top: 0px;
    right:0px;
    z-index: 10;
}
.cross {
    opacity:0.4;
}
/* .signin {
    border: 2px solid black;
} */

.signup-left-block{
    width: 50%;
    height: 100vh;
    background-image: url('../../assets/images/signup_image2.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.signup-left-block > div {
    color: #f89909;
    letter-spacing: 2px;
    padding: 30px;
    text-align: center;
    margin-top: 140px;
}


.signup-right-block{
    width: 50%;
    height: 100vh;
    
}